@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
.sidebar {
    width: 20%;
    width: 20rem;
    max-width: 20rem;
    background-color: #662323;
    min-height: 100%;
    position: fixed;
    overflow: auto;
  }

.title {
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.header-image {
    margin: 2rem 2rem 0rem 2rem;
}

.header-image > img {
    width:100%;
    height:100%;
}
.subTitle {
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.subTitleSize {
    border: 2px solid green;
    padding: 0;
    margin: 0;
}